/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 14px; 
    line-height: 32px;
    font-family: Avantgarde;
    color: #3e4444;
}

h1 { 
    border-radius: 25px;
    background: #ffe6e6;
    padding: 20px; 
    height: 150px;
    font-size: 2.5em;
    color: black;
}

h2 {
    font-size: 1.875em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: /* */;
    color: darkgrey;
}

header img {
    width: /*  */;
    height: auto;
    float: right;
}

footer {
    font-size: /* smaller */;
}